<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
    integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
  
  <title>{{panel}}</title>
  
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler ms-auto mb-2 d-md-none bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
          
          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top d-none d-md-block">
            <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">SG Library</a>
            <ul class="navbar-nav flex-column mt-4">
              <li class="nav-item"><a href="/books" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                    class="fas fa-address-card text-light fa-lg me-3"></i> Book Titles</a></li>
            </ul>
          </div>
          <!-- end of sidebar -->

          <!-- top-nav -->
          <div class="d-md-none w-100 bg-light p-3 top-navbar">
            <a href="#" class="navbar-brand d-block text-white mb-3 text-center bottom-border">SG Library</a>
            
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="/books" class="nav-link text-white p-2"><i class="fas fa-address-card fa-lg me-2"></i> Book Titles</a>
              </li>
              <!-- add links here -->
            </ul>
          </div>
          <!-- end of top-nav -->
          <div class="col-md-8 col-lg-10 offset-lg-2 offset-md-4">
            <h4 class="header text-uppercase">{{ panel }}</h4>
          </div>
    </div>
  </nav>
  <!-- end of navbar -->

   <!-- cards -->
  <section>
    <div class="container-fluid offset-md-4 offset-lg-2">
        <div class="col-xl-10 col-lg-9 col-md-8">
            {% block mainblock %}
            {% endblock %}
        </div>
    </div>
  </section>

  <!-- end of cards -->

  <!--bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>