{% extends "base.html" %}

<body>

  {% block mainblock %}

    <div class="d-flex col-12 justify-content-between header-title align-items-center">
    <p class="mb-0">Number of titles: {{ books|length }}</p>
    <form method="get" action="{{ url_for('books.home') }}" class="d-flex">
        <label class="me-2 mb-0 mt-2 align-items-center">Category</label>
        <select name="category" class="form-select form-select-sm me-2">
            <option value="All" {% if selected_category == "All" %}selected{% endif %}>All</option>
            <option value="Children" {% if selected_category == "Children" %}selected{% endif %}>Children</option>
            <option value="Teens" {% if selected_category == "Teens" %}selected{% endif %}>Teens</option>
            <option value="Adult" {% if selected_category == "Adult" %}selected{% endif %}>Adult</option>
        </select>
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    </div>

  {% for book in books %}
  <div class="mb-2">
    <div class="card-common h-100 row g-0 align-items-start">
      <div class="bg-image hover-overlay ripple col-xs-12 col-lg-2 col-md-4" data-mdb-ripple-color="light">
        <img src="{{book.url}}" class="card-img" />
      </div>
      <div class="col-12 col-md-8 col-lg-10 d-flex flex-column p-3">
          <div class="d-flex flex-column flex-grow-1">
              <h5>{{ book.title }}</h5>
              <h5>By {{ book.authors|join(', ') }}</h5>
              <p>Category: {{ book.category }}, {{ book.genres|join(', ') }}</p>
              <p>Pages: {{ book.pages }}</p>
              <p>{{ book.description[0] }}</p>
              <p>{{ book.description[book.description|length - 1] }}</p>
          </div>

          <div class="mt-3 d-flex justify-content-end align-items-center gap-2 flex-wrap">
            {% if book.available >= 1 %}
            <form method="post" action="{{ url_for('loans.addLoan', title=book.title) }}">
              <button type="submit" class="btn btn-success">Make a Loan</button>
            </form>
            {% endif %}
            <a href="/books/{{book.title}}" class="btn btn-success">More details</a>
          </div>
      
      
      </div>

    </div>
  </div>
  {% endfor %}
  {% endblock %}